# Información sobre el DataFrame

Puedes obtener información sobre el DataFrame, tales como sus columnas, y dimensiones (cuantas filas, y cuantas columnas) tiene.

Creamos el dataframe:

In [1]:
import pandas as pd
df = pd.read_excel("https://docs.google.com/uc?export=download&id=1RjyFp3seXXSwjJMVwT6FBs3lNniDxsNN")
df

   ID_Producto                                  Producto  Cantidad   Precio
0         SKU1                             Xbox Series X        65   500000
1         SKU4         Teclado mecánico Razer BlackWidow       130   250000
2         SKU7                   Monitor Gaming Asus 27"        45   750000
3        SKU11                Robot aspirador Roomba 960        30   450000
4        SKU26                         Kindle Paperwhite       150   200000
5        SKU39          Cámara de acción Insta360 One X2        80   380000
6        SKU44                 Cafetera Nespresso Vertuo        80   150000
7        SKU48                           Nintendo Switch        50   280000
8        SKU62                             PlayStation 5        75   480000
9        SKU63    Reloj Inteligente Apple Watch Series 6        90   600000
10       SKU97                               GoPro HERO9       100   320000
11       SKU98                               AirPods Pro       120   250000
12      SKU110  Gafas de realidad virtual Oculus Quest 2        50   300000
13      SKU115                        Garmin Fenix 6 Pro        55   700000
14      SKU126                Refrigerador Samsung Smart        25  2000000
15      SKU131                        Samsung Galaxy S21        80   850000
16      SKU134                        Laptop Dell XPS 15        40  1200000
17      SKU154                             iPad Pro 12.9        60  1050000
18      SKU158         Smartwatch Samsung Galaxy Watch 3        85   550000
19      SKU162               Mochila antirrobo XD Design       150   180000
20      SKU163               Auriculares Sony WH-1000XM4       100   350000
21      SKU168          Microondas inteligente Panasonic        50   250000
22      SKU170                      Silla gaming DXRacer        60   400000
23      SKU171                     Drone DJI Mavic Air 2        20   900000
24      SKU172                                 iPhone 13       100   990000
25      SKU176                   Bose QuietComfort 35 II        70   350000
26      SKU178                Bicicleta eléctrica Xiaomi        35   800000
27      SKU187                 Cámara Canon EOS Rebel T7        50   550000
28      SKU191                      Smart TV LG OLED 55"        40  1500000
29      SKU196                Consola Retro Sega Genesis       110   120000

## Shape: Forma del dataframe (filas, columnas)

El atributo `shape` en un DataFrame de pandas es una propiedad muy útil que te permite conocer las **dimensiones** del DataFrame. Específicamente, shape devuelve una tupla que contiene dos elementos: `(filas, columnas)`

In [2]:
df.shape
# Tiene 30 filas y 3 columnas

(30, 4)

## Columns

El atributo`columns` devuelve un objeto Index que contiene los **nombres de las columnas**, lo que te permite ver rápidamente qué columnas están disponibles en tu DataFrame.

In [3]:
df.columns

Index(['ID_Producto', 'Producto', 'Cantidad', 'Precio'], dtype='object')

Con `dtypes` puedes acceder a los tipos de tu `DataFrame`

In [4]:
df_excel.dtypes

NameError: name 'df_excel' is not defined

También puedes usarlo en columnas especificas

In [ ]:
df_excel.Precio.dtypes

In [ ]:
# Equivalente a la celda anterior
df_excel["Precio"].dtypes

## Accediendo al DataFrame

### Accediendo a una columna
Puedes llamar rápidamente los datos de una columna usando `df['Nombre de la columna']` o `df.NombreColumna`

In [ ]:
df_excel["Cantidad"]

In [ ]:
df_excel.Cantidad

### Accediendo a varias columnas
También puedes llamar a varias columnas usando la siguiente estructura
`df[lista con nombre de las columnas]`

In [ ]:
df_excel[["Producto", "Cantidad"]] # Notese que es una lista dentro del método para llamar las columnas

### Accediendo a las filas
Puedes encontrar las filas usando `loc` y como argumento el indice. Si el indice es un texto, debes especificarlo como tal.

In [ ]:
df_excel.loc["SKU26"]

### Accediendo a varias filas
Si quieres seleccionar todas las filas que esten continuas unas a las otras puedas usar esta estructura

In [ ]:
df_excel.iloc[0:2]

**Nota**

Si es esta es la primera vez que te encuentras con algo como `0:2` a eso se le llama **slicing**, y no ex exclusivo de Pandas.

Es una convención que permite obtener una parte de una lista y se hace con esta estructura `inicio:fin` donde inicio y fin son índices.

La primera parte, antes del `:`, significa el indice desde el cual comienza, y la segunda parte hasta donde llega.

Si no hay nada en la primera parte significa que parte desde el primer indice, y si no hay nada en la segunda parte significa que llega hasta el último índice.

También se pueden usar números negativos para hacer la acción en reversa.

Algunos ejemplos:

* `0:2` seleccionaría desde la posición 0 hasta la posición 2, excluyéndola.
* `2:5` seleccionaría desde la posición 2 hasta la posición 5, excluyendo la posición 5.
* `-2:` seleccionaría desde la posición 2 pero desde el final hacia el inicio, hasta la última posición disponible.
* `2:` seleccionaría desde la posición 2 hasta la última posición disponible.

Si quieres acceder a filas especificas, puedes entregar como parametro una lista de las filas

In [ ]:
df_excel.iloc[[0, 4, 7]]

Si el `DataFrame` tiene indice, también puedes entregarle una lista de indices en los parámetros de `loc`

In [ ]:
df_excel.loc[["SKU97", "SKU154"]]

### Accediendo a un set especifico de filas y columnas
Puedes especificar una lista de filas, seguido por una lista de Columnas, y así obtener un conjunto muy especifico de datos

In [ ]:
df_excel.iloc[[0, 4, 7], [1, 2]]

Si quieres llamar a las columnas por su nombre, puedes usar una estructura como esta

In [ ]:
df_excel[["Precio", "Cantidad"]].iloc[[0, 4, 7]]

---
# Síguenos:
- TikTok: https://www.tiktok.com/@evoacdm
- Instagram: https://www.instagram.com/evoacdm/
- LinkedIn: https://www.linkedin.com/company/evoacmd/
- YouTube: https://www.youtube.com/@evoacdm
- Sitio web: https://evoacademy.cl