# üìë Ejercicio sobre **obtenci√≥n de informaci√≥n** de una Dataframe

Vamos a trabajar sobre un archivo CSV con datos de mujeres con **s√≠ndrome de ovario poliqu√≠stico** (SOP)

Acerca del conjunto de datos:
Se trata de un conjunto de datos sobre mujeres con s√≠ndrome de ovario poliqu√≠stico (SOP), generado seg√∫n los criterios de R√≥terdam. Los Criterios de R√≥terdam, establecidos en 2003 por un consenso internacional de expertos, definen que, **para que una mujer sea diagnosticada con el s√≠ndrome**, debe cumplir al menos **dos de los tres criterios**:

1. **Menstruaci√≥n irregular**: S√≠ (1) No(0)
2.**Nivel de testosterona*: M√°s de 50 ng/dL
3. Fol√≠culos por ovario (detectados por ecograf√≠a pelviana): M√°s de 10

Las columnas num√©ricas categ√≥ricas (Menstruaci√≥n irregular y diagn√≥stico de SOP) se codifican en formato binario, donde [0] representa "no" y [1] representa "s√≠".

El archivo CSV se encuentra en la web Kaggle.com especializada en an√°lisis de datos. Exactamente lo encontr√°s en **https://www.kaggle.com/datasets/lucass0s0/polycystic-ovary-syndrome-pcos**
1. Descarga el archivo .zip y descompr√≠melo.
2. S√∫belo a tu Google Drive y consigue el link al archivo.
3. **¬°Muy importante!** El archivo tiene una columna que se llama **Testosterone_Level(ng/dL)**. Este nombre tiene caracteres (**los par√©ntesis**) que van a dar problemas a la hora de utilizar esta columna. Por ello, cambia su nombre por **Testosterone_Level** .

## üîç Ejercicio 1
Importa la librer√≠a Pandas y ponle el alias `pd`.

In [1]:
# Ejercicio 1
import pandas as pd

## üîç Ejercicio 2
Carga el archivo `pcos_rotterdam_balanceado.csv`, que has guardado en tu Google Drive, utilizando su link.
A su vez crea el Dataframe con el nombre `data`.

In [2]:
# Ejercicio 2
data = pd.read_csv("datasets/pcos_rotterdam_balanceado_v1.csv")

## üîç Ejercicio 3
Utiliza el atributo `shape` para ver la **forma** (n¬∫ columnas x n¬∫ filas). Ver√°s que el archivo tiene 6 columnas y ¬°¬°¬°3000 filas!!!.

In [3]:
# Ejercicio 3
data.shape

(3000, 6)

## üîç Ejercicio 4
Utiliza el atributo `columns` para ver el **nombre de las columnas**. Ver√°s que las columnas se llaman: Age, BMI, ...

In [4]:
# Ejercicio 4
data.columns

Index(['Age', 'BMI', 'Menstrual_Irregularity', 'Testosterone_Level',
       'Antral_Follicle_Count', 'PCOS_Diagnosis'],
      dtype='object')

## üîç Ejercicio 5

Utiliza el atributo `dtypes`para ver el **tipo de columnas**. Ver√°s que hay 4 columnas de tipo n√∫mero **entero** y 2 de tipo n√∫mero **decimal**.

In [10]:
# Ejercicio 5
data.dtypes

Age                         int64
BMI                       float64
Menstrual_Irregularity      int64
Testosterone_Level        float64
Antral_Follicle_Count       int64
PCOS_Diagnosis              int64
dtype: object

## üîç Ejercicio 6

Obt√©n todos los datos (filas) de la columna `Testosterone_Level`.

No te preocupes si solo ves los cinco primeros datos y los cinco √∫ltimos datos. Recuerda uq tiene 3000 filas. En el siguiente cap√≠tulo resolveremos c√≥mo podemos ver todos los datos de archivos muy largos.

In [6]:
# Ejercicio 6
data.Testosterone_Level

0       46.1
1       59.4
2       69.3
3       77.7
4       49.4
        ...
2995    38.5
2996    40.6
2997    79.2
2998    40.9
2999    49.6
Name: Testosterone_Level, Length: 3000, dtype: float64

## üîç Ejercicio 7

Obt√©n todos los datos (filas) de las columnas `Age`y`Testosterone_Level`.

In [7]:
## Ejercicio 7
data[["Age", "Testosterone_Level"]]

      Age  Testosterone_Level
0      29                46.1
1      20                59.4
2      23                69.3
3      19                77.7
4      19                49.4
...   ...                 ...
2995   26                38.5
2996   42                40.6
2997   24                79.2
2998   35                40.9
2999   28                49.6

[3000 rows x 2 columns]

## üîç Ejercicio 8

Obt√©n los datos de las mujeres de las filas: 6, 27, 654, 1321 y 2567

In [8]:
# Ejercicio 8
data.iloc[[6, 27, 65, 1321, 2567]]

,Age,BMI,Menstrual_Irregularity,Testosterone_Level,Antral_Follicle_Count,PCOS_Diagnosis
6,21,25.3,0,44.2,4,0
27,28,26.0,0,55.7,3,0
65,42,26.9,0,38.9,9,0
1321,38,17.7,0,39.8,6,0
2567,21,26.9,0,45.0,10,0

## üîç Ejercicio 9

Obt√©n los datos de la mujer de la fila: 1970

In [9]:
# Ejercicio 6
data.loc[1970]

Age                        28.0
BMI                        27.3
Menstrual_Irregularity      1.0
Testosterone_Level        101.9
Antral_Follicle_Count      17.0
PCOS_Diagnosis              1.0
Name: 1970, dtype: float64