# Ejercicios sobre **manipulaci칩n de datos** en Pandas

## 游뚴游닍 An치lisis de entregas log칤sticas
En este ejercicio trabajaremos con un conjunto de datos que representa **entregas de productos de una empresa de transportes** .
Analizaremos los tiempos de entrega, costes y otros aspectos usando Pandas.

In [1]:
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
import random
from faker import Faker

faker = Faker()
fake = Faker('es_ES')

ciudades = ['Madrid', 'Barcelona', 'Valencia', 'Sevilla', 'Zaragoza', 'Bilbao', 'M치laga', 'Coru침a']
transportes = ['Cami칩n', 'Furgoneta Peque침a', 'Furgoneta Grande', 'Motocicleta']
estados = ['Entregado', 'Tr치nsito', 'Retrasado', 'Cancelado']
n = 95

# Estados con mayor probabilidad de 'Entregado'
estados_generados = random.choices(estados, weights=[0.6, 0.2, 0.15, 0.05], k=n)

# Inicializamos listas
fechas_entrada = []
fechas_entrega = []
dias_entrega = []

for estado in estados_generados:
    # Fecha de entrada siempre presente
    fecha_entrada = datetime.today() - timedelta(days=np.random.randint(10, 30))
    fechas_entrada.append(fecha_entrada.date().isoformat())

    if estado == 'Entregado':
        # Fecha de entrega posterior a la de entrada
        fecha_entrega = fecha_entrada + timedelta(days=np.random.randint(1, 10))
        fechas_entrega.append(fecha_entrega.date().isoformat())
        dias_entrega.append((fecha_entrega - fecha_entrada).days)
    else:
        fechas_entrega.append(None)
        dias_entrega.append(None)

# Crear DataFrame
data = {
    'ID_Entrega': [f'ENT{str(i).zfill(4)}' for i in range(1, n + 1)],
    'Destino': [random.choice(ciudades) for _ in range(n)],
    'Peso_kg': np.round(np.random.uniform(0.5, 50.0, n), 2),
    'Volumen_m3': np.round(np.random.uniform(0.01, 2.0, n), 3),
    'Costo_Envio': np.round(np.random.uniform(10.0, 500.0, n), 2),
    'Cliente': [fake.company()[:20] for _ in range(n)],
    'Medio_Entrega': [random.choice(transportes) for _ in range(n)],
    'Estado': estados_generados,
    'Fecha_Entrada': fechas_entrada,
    'Fecha_Entrega': fechas_entrega,
    'Tiempo_Entrega_Dias': dias_entrega
}

df = pd.DataFrame(data)


# Crear el DataFrame
df = pd.DataFrame(data)
df = df.set_index('ID_Entrega')

df.to_csv('datasets/entregas.csv', index=True)


df

,Destino,Peso_kg,Volumen_m3,Costo_Envio,Cliente,Medio_Entrega,Estado,Fecha_Entrada,Fecha_Entrega,Tiempo_Entrega_Dias
ID_Entrega,,,,,,,,,,
ENT0001,M치laga,27.49,0.179,280.22,Sandoval y asociados,Cami칩n,Entregado,2025-03-29,2025-04-06,8.0
ENT0002,Sevilla,30.71,1.650,39.99,Farmace칰tica Integra,Cami칩n,Entregado,2025-03-31,2025-04-07,7.0
ENT0003,Coru침a,4.63,0.161,162.65,Construcci칩n Camacho,Cami칩n,Entregado,2025-03-30,2025-04-05,6.0
ENT0004,Bilbao,18.61,1.771,23.38,Puga y Bayo S.Coop.,Motocicleta,Entregado,2025-04-03,2025-04-12,9.0
ENT0005,Sevilla,13.06,0.666,280.97,Alberto Lerma Manso,Cami칩n,Entregado,2025-04-07,2025-04-08,1.0
...,...,...,...,...,...,...,...,...,...,...
ENT0091,Madrid,36.89,0.133,320.62,Farmace칰tica Alsina,Furgoneta Grande,Entregado,2025-04-03,2025-04-09,6.0
ENT0092,Zaragoza,26.19,1.796,467.50,Jenaro Santiago Muri,Furgoneta Grande,Entregado,2025-04-04,2025-04-10,6.0
ENT0093,M치laga,8.30,1.852,68.85,Consultor칤a RQW S.L.,Cami칩n,Entregado,2025-04-05,2025-04-08,3.0
ENT0094,Zaragoza,33.70,0.864,355.13,Hnos Beltran S.L.,Motocicleta,Entregado,2025-04-04,2025-04-08,4.0
ENT0095,Bilbao,40.17,1.736,111.79,Mill치n y Villena S.L,Furgoneta Grande,Entregado,2025-04-05,2025-04-09,4.0

*********************

## 游댌 Ejercicio 1: Forma (n췈 filas x n췈 columnas) del Dataframe

Descubre el n칰mero de filas y columnas de los datosMuestra los primeros y 칰ltimos 5 registros del DataFrame usando `head()` y `tail()`.

In [2]:
# Ejercicio 1. Haz el ejercicio aqu칤
df.shape

(95, 10)

*********************

## 游댌 Ejercicio 2. Primeros y 칰ltimos registros

Muestra los primeros 6 registros del DataFrame usando `head()`.

Muestra los 칰ltimos 11 registros del DataFrame usando `tail()`.

In [3]:
# Ejercicio 2. Primeros
df.head(6)

,Destino,Peso_kg,Volumen_m3,Costo_Envio,Cliente,Medio_Entrega,Estado,Fecha_Entrada,Fecha_Entrega,Tiempo_Entrega_Dias
ID_Entrega,,,,,,,,,,
ENT0001,M치laga,27.49,0.179,280.22,Sandoval y asociados,Cami칩n,Entregado,2025-03-29,2025-04-06,8.0
ENT0002,Sevilla,30.71,1.650,39.99,Farmace칰tica Integra,Cami칩n,Entregado,2025-03-31,2025-04-07,7.0
ENT0003,Coru침a,4.63,0.161,162.65,Construcci칩n Camacho,Cami칩n,Entregado,2025-03-30,2025-04-05,6.0
ENT0004,Bilbao,18.61,1.771,23.38,Puga y Bayo S.Coop.,Motocicleta,Entregado,2025-04-03,2025-04-12,9.0
ENT0005,Sevilla,13.06,0.666,280.97,Alberto Lerma Manso,Cami칩n,Entregado,2025-04-07,2025-04-08,1.0
ENT0006,Bilbao,5.49,0.595,397.85,Hnos Arnal S.C.P,Cami칩n,Retrasado,2025-04-09,None,NaN

In [4]:
# Ejercicio 2. 칔ltimos
df.tail(11)

,Destino,Peso_kg,Volumen_m3,Costo_Envio,Cliente,Medio_Entrega,Estado,Fecha_Entrada,Fecha_Entrega,Tiempo_Entrega_Dias
ID_Entrega,,,,,,,,,,
ENT0085,Zaragoza,18.89,1.206,475.91,M치rquez y Carro S.A.,Motocicleta,Retrasado,2025-03-21,None,NaN
ENT0086,Barcelona,44.16,1.184,368.25,Tom치s y Lillo S.A.,Furgoneta Peque침a,Tr치nsito,2025-04-05,None,NaN
ENT0087,Barcelona,12.53,1.171,486.84,Carnero y asociados,Furgoneta Peque침a,Retrasado,2025-03-27,None,NaN
ENT0088,Zaragoza,22.61,1.718,101.95,Miner칤a Benavente y,Furgoneta Peque침a,Entregado,2025-04-04,2025-04-07,3.0
ENT0089,Bilbao,7.85,1.474,193.07,Losa y Luque S.Coop.,Cami칩n,Entregado,2025-04-09,2025-04-15,6.0
ENT0090,Coru침a,20.81,0.197,21.80,Compa침칤a del Levante,Furgoneta Peque침a,Entregado,2025-04-06,2025-04-15,9.0
ENT0091,Madrid,36.89,0.133,320.62,Farmace칰tica Alsina,Furgoneta Grande,Entregado,2025-04-03,2025-04-09,6.0
ENT0092,Zaragoza,26.19,1.796,467.50,Jenaro Santiago Muri,Furgoneta Grande,Entregado,2025-04-04,2025-04-10,6.0
ENT0093,M치laga,8.30,1.852,68.85,Consultor칤a RQW S.L.,Cami칩n,Entregado,2025-04-05,2025-04-08,3.0
ENT0094,Zaragoza,33.70,0.864,355.13,Hnos Beltran S.L.,Motocicleta,Entregado,2025-04-04,2025-04-08,4.0
ENT0095,Bilbao,40.17,1.736,111.79,Mill치n y Villena S.L,Furgoneta Grande,Entregado,2025-04-05,2025-04-09,4.0

*********************

## 游댌 Ejercicio 3: Tiempo de entrega: media, m칤nimo y m치ximo

Calcula el tiempo **medio**, **m치ximo** y **m칤nimo** de d칤as entrega.

In [5]:
# Ejercicio 3. Media
df.Tiempo_Entrega_Dias.mean()

5.278688524590164

In [6]:
# Ejercicio 3. M치ximo
df.Tiempo_Entrega_Dias.max()

9.0

In [7]:
# Ejercicio 3. M칤nimo
df.Tiempo_Entrega_Dias.min()

1.0

*********************

## 游댌 Ejercicio 4. Coste de entregas

Calcula el **coste total** de las entregas realizadas.

In [8]:
# Ejercicio 4. Coste total
df.Costo_Envio.sum()

24864.029999999995

*********************

## 游댌 Ejercicio 5. Entrega m치s r치pida y m치s lenta

Usa `idxmin()` e `idxmax()` para encontrar las entregas con el menor y mayor tiempo.

In [9]:
# Ejercicio 5. Menor tiempo
df.Tiempo_Entrega_Dias.idxmin()

'ENT0005'

In [10]:
# Ejercicio 5. Mayor tiempo
df.Tiempo_Entrega_Dias.idxmax()

'ENT0004'

*********************

## 游댌 Ejercicio 6. Entregas por ciudad y medio de transporte

Averigua cu치ntas entregas se hicieron en cada ciudad con `value_counts()`. Haz lo mismo con los medios de transporte.

In [11]:
# Ejercicio 6. Ciudad
df.Destino.value_counts()

Destino
Zaragoza     18
Valencia     14
Madrid       13
Coru침a       12
Bilbao       11
M치laga       10
Barcelona    10
Sevilla       7
Name: count, dtype: int64

In [12]:
# Ejercicio 6. Medio de transporte
df.Medio_Entrega.value_counts()

Medio_Entrega
Furgoneta Grande     36
Furgoneta Peque침a    22
Cami칩n               21
Motocicleta          16
Name: count, dtype: int64

*********************

## 游댌 Ejercicio 7. Resumen estad칤stico

Obt칠n un resumen estad칤stico con `describe()` de todos los campos num칠ricos.

In [13]:
# Ejercicio 7_
df.describe()

         Peso_kg  Volumen_m3  Costo_Envio  Tiempo_Entrega_Dias
count  95.000000   95.000000    95.000000            61.000000
mean   24.427158    0.984653   261.726632             5.278689
std    13.695905    0.554697   137.889981             2.556894
min     1.980000    0.075000    14.890000             1.000000
25%    11.955000    0.517000   173.650000             3.000000
50%    23.360000    0.920000   290.000000             6.000000
75%    35.415000    1.452000   360.975000             7.000000
max    48.020000    1.988000   493.750000             9.000000

## 游댌 Ejercicio 8. An치lisis estad칤stico

Viendo los resultados, responde a  estas preguntas:

**Peso** de las entregas:

1. El 25% de las entregas pesaron menos de ___ kg.
2. La mitad (50%) de las entregas pesaron menos de ____ kg.
3. El 75% de las entregas pesaron menos de ____ kg.
4. Ninguna de las entregas super칩 un peso de ___ kg.


**Tiempo de entrega** en d칤as:

1. El 25% de las entregas se hicieron en un per칤odo inferior a  ____ d칤as.
3. La mitad (50%)  de las entregas se hicieron en un per칤odo inferior a ____ d칤as.
4. El 75% de las entregas se hicieron en un per칤odo inferior a ____ d칤as.
5. Las entregas (100%) se hicieron en un per칤odo inferior a ____ d칤as.