# 4. Manipulación de DataFrames (1ª Parte)

Ahora que sabemos como cargar nuestros archivos, es hora de usarlos. Comencemos configurando nuestro DataFrame inicial.

Creamos un Dataframe a partir de un archivo con datos de artículos electrónicos que el profesor tiene guardado en Google Drive en formato .csv. El link al archivo es el indicado a https://drive.google.com/uc?export=download&id=16SQQX0ly--l9UvNBr5-KGRWb6todE1u6.

Vamos a llamar al Dataframe: **df** (por ejemplo)

In [1]:
# Importamos la librería pandas

import pandas as pd

# Creamos un DataFrame a partir de un archivo de Excel.
# Además, establecemos la columna "ID_Producto" como índice

df = pd.read_csv("https://drive.google.com/uc?export=download&id=16SQQX0ly--l9UvNBr5-KGRWb6todE1u6", index_col="ID_Producto")

## 4.1. Mostrar los primeros o últimos datos

Para mostrar una parte inicial o final del `DataFrame` usarás el método `head(n)` o `tail(n)`, donde 'n' son los primeros o últimos n datos.

In [2]:
df.head(5)

                                      Producto  Cantidad  Precio
ID_Producto
SKU1                             Xbox Series X        65     500
SKU4         Teclado mecánico Razer BlackWidow       130     250
SKU7                   Monitor Gaming Asus 27"        45     750
SKU11               Robot aspirador Roomba 960        30     450
SKU26                        Kindle Paperwhite       150     200

In [3]:
df.tail(7)

                               Producto  Cantidad  Precio
ID_Producto
SKU171            Drone DJI Mavic Air 2        20     900
SKU172                        iPhone 13       100     990
SKU176          Bose QuietComfort 35 II        70     350
SKU178       Bicicleta eléctrica Xiaomi        35     800
SKU187        Cámara Canon EOS Rebel T7        50     550
SKU191             Smart TV LG OLED 55"        40    1500
SKU196       Consola Retro Sega Genesis       110     120

## 4.2. Muestra un resumen de los datos

Con `describe()` puedes obtener rápidamente algunas estadisticas descriptivas (conteo, media, desviación estándar, máximo, mínimo y cuartiles) de las columnas que tienen datos numéricos.

In [4]:
df.describe()

         Cantidad       Precio
count   30.000000    30.000000
mean    73.166667   588.333333
std     35.073404   430.653740
min     20.000000   120.000000
25%     50.000000   285.000000
50%     67.500000   465.000000
75%     97.500000   787.500000
max    150.000000  2000.000000

## 4.3. Más funciones de estadistica descriptiva

#### - **Promedio** o media aritmética `mean`

In [5]:
# Promedio o media aritmética de la columna "Precio"
df.Precio.mean()

# Tambien funciona asi:
df["Precio"].mean()

588.3333333333334

#### - **Máximo** `max` y **mínimo** `min` de una columna

In [6]:
# Valor máximo de la columna Precio
df.Precio.max()

# Tambien funciona asi:
df["Precio"].max()

2000

In [7]:
# Valor mínimo de la columna Precio
df.Precio.min()

# Tambien funciona asi:
df["Precio"].min()

120

#### - Buscar el **índice de la fila** correspondiente al valor máximo  o mínimo de una columna: `idxmax` o `idxmin`

In [14]:
# Busca el índice del valor máximo de la columna Precio y lo almacena en la variable id

df.Precio.idxmax()

'SKU126'

In [15]:
# Índice del valor mínimo de la columna Precio.
# Busca el índice del valor mínimo la columna Precio y lo almacena en la variable id

df.Precio.idxmin()

'SKU196'

#### - **Sumatorio** de una columna `sum`

In [10]:
# Sumatorio de la columna Cantidad
df.Cantidad.sum()

# Tambien funciona asi:
df["Cantidad"].sum()

2195

In [11]:
# Sumatorio de la columna Precio
df.Precio.sum()

# Tambien funciona asi:
df["Precio"].sum()

17650

#### - Contar número de valores de una columna `count`

Este es un método que devuelve el número de valores no nulos en la columna especificada. Si hay algún valor NaN (Not a Number) en la columna, no serán contados.

In [12]:
# Contar total columna
df.Producto.count()

# Tambien funciona asi:
df["Producto"].count()

30

#### - Contar por tipo `value.counts`

Este método devuelve una Serie que contiene el conteo de valores únicos en orden descendente. También proporciona el número de veces que cada entrada única aparece en la columna Producto.

In [13]:
# Contar por tipo
df.Producto.value_counts()

# Tambien funciona asi:
df["Producto"].value_counts()

Producto
Xbox Series X                               1
Teclado mecánico Razer BlackWidow           1
Smart TV LG OLED 55"                        1
Cámara Canon EOS Rebel T7                   1
Bicicleta eléctrica Xiaomi                  1
Bose QuietComfort 35 II                     1
iPhone 13                                   1
Drone DJI Mavic Air 2                       1
Silla gaming DXRacer                        1
Microondas inteligente Panasonic            1
Auriculares Sony WH-1000XM4                 1
Mochila antirrobo XD Design                 1
Smartwatch Samsung Galaxy Watch 3           1
iPad Pro 12.9                               1
Laptop Dell XPS 15                          1
Samsung Galaxy S21                          1
Refrigerador Samsung Smart                  1
Garmin Fenix 6 Pro                          1
Gafas de realidad virtual Oculus Quest 2    1
AirPods Pro                                 1
GoPro HERO9                                 1
Reloj Inteligente Apple Watch Series 6      1
PlayStation 5                               1
Nintendo Switch                             1
Cafetera Nespresso Vertuo                   1
Cámara de acción Insta360 One X2            1
Kindle Paperwhite                           1
Robot aspirador Roomba 960                  1
Monitor Gaming Asus 27"                     1
Consola Retro Sega Genesis                  1
Name: count, dtype: int64