# üß™ Ejercicio: An√°lisis de entregas industriales

### üìÅ Carga de datos
Carga el archivo CSV en un DataFrame:

In [19]:
import pandas as pd
import numpy as np
import random
from faker import Faker
from datetime import datetime, timedelta

# Instanciar Faker
faker = Faker()

# Definir las listas de posibles valores
ciudades = ['Madrid', 'Barcelona', 'Valencia', 'Sevilla', 'Zaragoza', 'Bilbao', 'M√°laga', 'A Coru√±a']
transportes = ['Cami√≥n', 'Avi√≥n', 'Tren', 'Barco']
estados = ['Entregado', 'Tr√°nsito', 'Retrasado', 'Cancelado']

n = 100

# Funci√≥n para generar fechas de entrega
def generar_fecha_entrega(estado, n):
    return [
        (datetime.today() - timedelta(days=np.random.randint(0, 30))).isoformat() if estado == 'Entregado' else None
        for estado in np.random.choice(estados, n)
    ]

# Crear el diccionario de datos
data = {
    'ID_Entrega': [f'ENT{str(i).zfill(4)}' for i in range(1, n + 1)],
    'Destino': [random.choice(ciudades) for _ in range(n)],
    'Peso_kg': np.round(np.random.uniform(0.5, 50.0, n), 2),
    'Volumen_m3': np.round(np.random.uniform(0.01, 2.0, n), 3),
    'Dias_Entrega': np.random.randint(1, 15, n),
    'Costo_Envio': np.round(np.random.uniform(10.0, 500.0, n), 2),
    'Cliente': [faker.company() for _ in range(n)],
    'Medio': [random.choice(transportes) for _ in range(n)],
    'Estado_Entrega': [random.choice(estados) for _ in range(n)],
    'Fecha_Entrega': generar_fecha_entrega(estados, n)
}

# Crear el DataFrame
df = pd.DataFrame(data)

# Mostrar las primeras filas del DataFrame
print(df.head(20))

   ID_Entrega    Destino  Peso_kg  Volumen_m3  Dias_Entrega  Costo_Envio  \
0     ENT0001   Zaragoza    39.11       0.673             9       469.17
1     ENT0002  Barcelona    10.87       1.795             3       161.57
2     ENT0003     M√°laga    47.09       0.093             6        48.55
3     ENT0004  Barcelona    32.38       1.685            14       283.95
4     ENT0005  Barcelona    25.12       0.630             4       417.33
5     ENT0006  Barcelona    29.69       0.677             4       466.50
6     ENT0007   Valencia     5.18       0.072            10       490.31
7     ENT0008  Barcelona    31.36       0.721            14        92.15
8     ENT0009     Bilbao    38.58       0.299             4       102.80
9     ENT0010   Zaragoza    37.11       1.042            13        12.14
10    ENT0011   A Coru√±a     1.04       0.460             4       411.41
11    ENT0012     Madrid    42.53       1.016             6       278.07
12    ENT0013    Sevilla    16.69       0.528             6       273.98
13    ENT0014   Valencia    20.43       0.928             1       476.57
14    ENT0015   Valencia     1.22       1.430            14       270.88
15    ENT0016    Sevilla    21.99       0.734             5       409.71
16    ENT0017     M√°laga    10.00       0.535             3       142.54
17    ENT0018     Madrid    29.98       0.707             2       385.89
18    ENT0019   Valencia    21.59       1.101            10       372.46
19    ENT0020  Barcelona    26.86       1.328             9       293.27

                         Cliente   Medio Estado_Entrega  \
0         Tran, Summers and Cook  Cami√≥n      Retrasado
1                Sheppard-Rivera  Cami√≥n       Tr√°nsito
2                Velasquez Group    Tren      Retrasado
3      Stark, Torres and Hampton    Tren      Entregado
4                    Nash-Garcia   Avi√≥n      Entregado
5              Chapman-Henderson   Avi√≥n       Tr√°nsito
6   Jackson, Sanders and Jackson  Cami√≥n      Entregado
7                Guerra-Whitaker    Tren       Tr√°nsito
8                   Hall-Russell   Avi√≥n      Retrasado
9            Cunningham and Sons   Avi√≥n      Entregado
10                Brown and Sons   Avi√≥n      Cancelado
11               Stewart-Pollard   Avi√≥n      Cancelado
12        Wood, Graham and Marsh   Avi√≥n      Retrasado
13        Keller, Kemp and Scott   Avi√≥n       Tr√°nsito
14     Stone, Riley and Mckenzie   Avi√≥n      Entregado
15                Smith and Sons   Barco      Retrasado
16                    Flores Inc  Cami√≥n      Entregado
17  Castaneda, Santos and Butler    Tren      Retrasado
18       Chavez, Hill and Hester  Cami√≥n      Retrasado
19                  Blake-Nguyen    Tren      Entregado

                 Fecha_Entrega
0                         None
1                         None
2   2025-04-11T20:07:55.202831
3                         None
4   2025-04-16T20:07:55.202831
5   2025-04-04T20:07:55.202831
6                         None
7                         None
8                         None
9   2025-04-18T20:07:55.202831
10                        None
11                        None
12  2025-04-02T20:07:55.202831
13                        None
14                        None
15  2025-04-18T20:07:55.202831
16                        None
17                        None
18                        None
19  2025-04-12T20:07:55.202831

### 1. **Vista general**
- Muestra las primeras 5 y las √∫ltimas 5 filas.
- ¬øCu√°ntas filas y columnas tiene el DataFrame?

In [ ]:
df.head()
df.tail()
df.shape

### 2. **Resumen estad√≠stico**
- Usa `describe()` para obtener un resumen de los valores num√©ricos.
- ¬øCu√°l es la media de las unidades entregadas?

In [ ]:
df.describe()
df['Unidades Entregadas'].mean()

### 3. **Totales y m√°ximos/m√≠nimos**
- ¬øCu√°ntas unidades se han entregado en total?
- ¬øCu√°l es el coste total m√°s alto?
- ¬øY el m√°s bajo?

In [ ]:
df['Unidades Entregadas'].sum()
df['Coste Total (‚Ç¨)'].max()
df['Coste Total (‚Ç¨)'].min()

### 4. **An√°lisis por producto**
- ¬øCu√°l es el producto m√°s entregado en total?
- ¬øQu√© producto tiene el mayor coste total acumulado?

In [ ]:
df.groupby('Producto')['Unidades Entregadas'].sum().sort_values(ascending=False)
df.groupby('Producto')['Coste Total (‚Ç¨)'].sum().sort_values(ascending=False)

### 5. **Frecuencias**
- ¬øCu√°ntas veces aparece cada cliente?
- ¬øCu√°l es la zona m√°s frecuente?

In [ ]:
df['Cliente'].value_counts()
df['Zona'].value_counts()

### 6. **√çndices extremos**
- Muestra la fila con el coste total m√°s alto y la fila con el m√°s bajo.

In [ ]:
df.loc[df['Coste Total (‚Ç¨)'].idxmax()]
df.loc[df['Coste Total (‚Ç¨)'].idxmin()]